<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitzvera.kasbaik">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_kasbaik"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_kasbaik"
        android:supportsRtl="true"
        android:theme="@style/Theme.KasBaik"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetailPinjamanAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileUserAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileMitraAdminActivity"
            android:exported="false" />
        <activity
            android:name=".HIstoryPaymentAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ListPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ListPeminjamActivity"
            android:exported="false" />
        <activity
            android:name=".ListPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".ListMitraActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.buktibayar.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.buktibayar.UploadBuktiBayarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.buktibayar.history.HistoryBuktiBayarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.notifikasi.detail.NotifikasiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.notifikasi.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.login.DashboardLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.daftar.DashboardDaftarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.riwayat.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.riwayat.detailriwayat.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.status.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.payment.historypayment.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.payment.detailpayment.DetailPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.payment.PaymentActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.beranda.login.mitra.home.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.editprofile.MitraProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.listpeminjam.detailpinjaman.DetailPinjamanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.listpeminjam.ListPeminjamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.home.HomeMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.zakat.ZakatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.pinjamdana.PinjamDanaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.mitra.LoginAsMitraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.LoginAsPeminjamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.login.peminjam.home.HomePeminjamActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.beranda.daftar.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.isikas.IsiKasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.tentang.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.BerandaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>